* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
body {
    color: #EEEFFF;
    background: #333333;
}
a {
    color: #EEEFFF;
}
